html,
body {
    height: 100%;
    font-family: "Teko";
    background-color: lightgrey;
    /* max-width: 980px;  margin: auto; */
}

.navbar-brand:hover {
    opacity: 1;
    color: limegreen !important;
    transition: all 1000ms;
    -webkit-transition: all 1000ms;
    -moz-transition: all 1000ms;
    -o-transition: all 1000ms;
}

.nav-link.active:hover {
    opacity: 1;
    color: limegreen !important;
    transition: all 1000ms;
    -webkit-transition: all 1000ms;
    -moz-transition: all 1000ms;
    -o-transition: all 1000ms;
}

.current {
    color: limegreen !important;
}

.logo {
    opacity: 1;
    color: limegreen !important;
}
.logo:hover {
    opacity: 1;
    color: white !important;
}

h1 {
    text-align: center;
}

p {
    font-size: 2em;
    line-height: 1.4em;
    text-align: justify;
}

.arrow{
    margin: 50px 60px;
    transform: rotate(90deg);
    width: 30px; 
    height: 30px;
}

footer {position: sticky}

/* Sign in auf der Userseite */

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  img{
    border-radius: 25%;
  }